<!--Composant dump qui va contenir les données lié à un utilisateur connecter, on va passer les données au composant page-->
<div class="card-body">
  <p>Nom : <strong>{{user.name}}</strong></p>
  <p>Prénom : <strong>{{user.firstName}}</strong></p>
  <p>Nombre de films ajouté aux favoris : <strong>{{user.numberMoviesAddedInFavorite}}</strong></p>
  <p>Nombre d'acteurs/actrices ajouté aux favoris : <strong>{{user.numberActorsAddedInFavorite}}</strong></p>
  <p>Nombre de réalisateurs/réalisatrices ajouté aux favoris : <strong>{{user.numberFilmMakersAddedInFavorite}}</strong></p>
  <p>Nombre de films vu : <strong>{{user.numberMoviesSeen}}</strong></p>
</div>
