<!--Les composants smart sont situé juste en dessous des composants page dans l'arborescence de composant. Ce sont des composants intelligents, dans le sens qu'ils s'occuepent de faire le chef d'orchestre pour récupérer les données fournies par un service, le composant smart récupère les données nécessaires à l'affichage, cependant l'affichage de ces données par exemple dans un tableau est elle gérer par le composant dump(idiot en français)-->

<!--Assigné un rôle à chaque composants nous force à réfléchir sur la manière de concevoir le code sans partir tête baissez à taper des milliers de lignes de codes-->

<!--HomeFeatures est un composant smart, qui à pour rôle de fournir les données des fonctionnalités à afficher: combien de fonctionnalités, quels titres, quelles icônes, etc... On l'intègre ensuite à notre composant dump qui affiche les card des fonctionnalité et la page d'accueil sera presque terminer suite à cela-->

<!--option ligne de commande : --module home permet de préciser que le composant créer appartient à tel ou tel module, --inline-style permet d'indiquer à Angular CLI de ne pas générer une feuille de style dans un fichier à part et skipTests indique de ne pas générer une classe de test pour le composant-->
<p>home-features works!</p>
