<!--Le composant dump est le composant le plus bas dans l'arborescence des composants, il sera le composant avec le moins de logique métier. Il s'occupera seulement d'afficher les données, sans se soucier de leur origine. Il ne font jamais appel directement à un service, ils permettent d'alléger les composants plus haut dans l'arborescence en s'occupant uniquement de la logique d'affichage-->

<!--Le composant HomeFeatureCard est un composant dump qui sert à afficher une carte de fonctionnalité-->
<div class="card">
  <!--Utilisation des {{}} pour utiliser l'interpolation avec la propriété title-->
  <h3 class="card-header text-center" style="color: #B40404">{{ title }}</h3>
  <div class="card-body">
    <!--Liaison entre la propriété picture et la source de l'image-->
    <img [src]="picture" class="img-fluid mx-auto d-block">
  </div>
  <ul class="list-group list-group-flush">
    <!-- L’interpolation avec la propriété description -->
    <li class="list-group-item text-center" style="background-color: black; color: white; font-size: 16px;">{{ text }}</li>
  </ul>
</div>
